@import "../../scss/base";

.service-card {
  border: 1px solid $color-primary;
  margin: 0 auto 45px;
  max-width: 450px;
  padding: 25px;
  text-align: center;
  &:nth-child(even) {
    box-shadow: 35px 25px $color-secondary;
  }
  &:nth-child(odd) {
    box-shadow: 25px 25px $color-info;
  }
  header {
      img{
      width: 150px;
    }
    h2{
      font-size: 24px;
    }
  }
  @include tablet(){
    width: 450px;
  }
}