@import "./base";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Oswald:wght@300;400&display=swap');

body{
  background-color: $color-text-opposite;
  font-family: $font-texts, Serif;
  font-size: 16px;
  margin: 0;
}
h1,h2,h3,h4,h5,h6, .title-fonts {
  font-family: $font-title, Sans-Serif;
  font-weight: 300;
  text-transform: uppercase;
}
